<!DOCTYPE html>
<html>
<head>
	<title>HTTP Server</title>
</head>
<body onload="render_dir()">


<script type="text/javascript">
	function reqListener () {

  		var json_string = this.responseText.concat("}");

  		console.log(json_string);

  		var json = JSON.parse(json_string);

		console.log(json.directories);

		for(var i in json.directories){
			console.log(json.directories[i].name);

			var p = document.createElement('p');
			var a = document.createElement('a');
			var linkText = document.createTextNode(json.directories[i].name);
			a.appendChild(linkText);
			a.title = json.directories[i].name;
			a.href = json.directories[i].name.concat("/");

			p.appendChild(a);

			document.body.appendChild(p);
		}

		for(var i in json.files){
			console.log(json.files[i].name);

			var p = document.createElement('p');
			var a = document.createElement('a');
			var linkText = document.createTextNode(json.files[i].name);
			a.appendChild(linkText);
			a.title =json.files[i].name;
			a.href = json.files[i].name;

			p.appendChild(a);

			document.body.appendChild(p);
		}
	}

	function render_dir() {
		var oReq = new XMLHttpRequest();
		oReq.addEventListener("load", reqListener);
		var url = "/virtual/dir.json?" + window.location.pathname;
		console.log(url);
		oReq.open("GET", url);
		oReq.send();	
	}
</script>

</body>

</html>